# Ignore virtual environment
venv/

# Ignore dataset directories
train/
test/
static/uploads

# Ignore model files
best_model.keras
covid_detection_model.h5
covid_detection_model.keras

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore other system files
.DS_Store
