<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Detection</title>
</head>
<body>
    <h1>Upload Chest X-ray Image</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    <img src="{{ img_path }}" alt="Uploaded Image">
    {% endif %}
</body>
</html>
